.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search input {
    width: 45vw;
    height: 30px;
    margin-right: 1px;
    border-radius: 5px;
}

.cisearch {
    height: 30px;
    font-size: 25px;
}
